tqdm
librosa
PySDL2
numpy
pillow
matplotlib
sounddevice
git+https://github.com/julianfl0w/pyalsaaudio
#git+https://github.com/kivy/audiostream
python-rtmidi
mido
pedalboard
sf2utils
hjson
munch
Cython
kivy
kivymd
